// Colors
$white: #fff;
$grey: #EDF1F5;

$blue: #6D97D5;
$orange: #E36666;
$green: #55BDC1;
$yellow: #F4BA29;

$gradient: linear-gradient(-135deg, #182848 0%, #4B6CB7 100%);
$gradient-opaque: linear-gradient(-162deg, rgba(14,59,163,0.68) 0%, rgba(24,40,72,0.46) 100%);
