@import "vendor/vendor";

@import "variables";
@import "scaffolding";

nav{
  background: rgba(14,14,14,0.9);
  font-size: 1rem;
  .navbar-brand{
    cursor: pointer;
  }
  ul{
    margin-bottom: 0;
    padding: 0;
  }
  @include media-breakpoint-down(xs) {
    ul{
      background-color: black;
      li{
        display: block;
        width: 100%;
        padding: 0.8rem;
        margin: 0 !important;
        text-align: center;
        font-size: 1.5rem;
        border-top: 1px solid #2b2b2b;
      }
    }
  }
}

main{
  section.landing{
    padding-top: 4rem;
    background-image: $gradient-opaque, url('../images/landing_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    // Disabling background-attachment: fixed; in iOS Safari
    @supports (-webkit-text-size-adjust:none) and (not (-ms-accelerator:true)) and (not (-moz-appearance:none)) {   background-attachment: scroll;  }
    .lead{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img.iphone{
      max-width: 100%;
      @include media-breakpoint-up(sm) {
        margin-top: 3rem;
      }
    }
    @include media-breakpoint-down(sm) {
      text-align: center;
      padding-top: 5.5rem;
    }
    @include media-breakpoint-up(sm) {
      .col-sm-5{
        padding-right: 1rem;
      }
    }
  }

  section.feature-wrap{
    padding: 4rem 0;
    .feature{
      .benefit{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img{
        max-width: 90%;
      }

      @include media-breakpoint-down(xs) {
        .row{
          display: flex;
          text-align: center;
          .benefit{
            order:0;
          }
          .thumbnail{
            order: 1;
            img{
              max-width: 60%;
            }
          }
        }
      }
    }


    .save_time div.div-line, .supplier_tracking div.div-line{
      background-color: $blue;
    }
    .minimaze_errors div.div-line{
      background-color: $orange;
    }
    .centralized_ordering div.div-line{
      background-color: $green;
    }
    .birds_eye_view div.div-line{
      background-color: $yellow;
    }

  }
  section.feature-wrap.odd{
    background-color: $gray-blue;
    .thumbnail{
      text-align: right;
      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }
  }

  section.preorder-wrap{
    background-image: $gradient;
    text-align: center;
    position: relative;
    padding: 4rem 0;
    img.ribbon{
      position: absolute;
      top: 0;
      right: 0;
    }
    a{
      margin: 1rem 0 0;
    }
  }

  section.getting-started-wrap{
    background-image: url(../images/getting_started_bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    // Disabling background-attachment: fixed; in iOS Safari
    @supports (-webkit-text-size-adjust:none) and (not (-ms-accelerator:true)) and (not (-moz-appearance:none)) {   background-attachment: scroll;  }
    text-align: center;
    padding: 4rem 0;
    ul{
      margin: 0 ;
      padding: 0;
      li{
        background: white;
        display: flex;
        align-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 0.4rem;
        margin-bottom: 1rem;
        .stepcount{
          font-size: 1.2rem;
          background: #4b4b4b;
          background: $blue;
          border-radius: 10rem;
          flex: 0 0 3rem;
          line-height: 3rem;
          margin-right: 0.8rem;
        }
        p{
          text-align: left;
          color:#2B2B2B;
          text-shadow: none;
          margin-bottom: 0;
        }
        span{
          text-shadow: none;
          font-family: 'FrutigerNext LT Bold';
        }
      }
    }
    .bold{
      font-family: 'FrutigerNext LT Bold';
      margin-bottom: 2rem;
    }
    .urock{
      margin-bottom: 0;
    }
  }

}

footer{
  background: rgba(32,32,32,1);
  font-size: 14px;
  padding: 1rem;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}
